body {
    background: white;
}

#main-container {
    display: flex;
}

#about-image {
    margin-bottom: 0;
}
.seperator-bottom{
    background-color: white;
    height: 250px;
    width: 100%;
    margin-top: 0;
    border-top: 2px solid #FFA7B8;
}

.quote-text {
    display: flex;
    justify-content: center;
    line-height: 40px;
    width: 70%;
    font-size: 1.7vw;
    margin: 30px auto 20px ;
}

#line {
    margin-right: 25px;
    margin-top: 19px;
    width: 30px;
    height: 2px;
    background-color: #303030;
    border-radius: 1px;
}

.quote-text-isla {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 35%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 35px;
    color: #FFA7B8;
}

#mobile-image {
    width: 100%;
    height: auto;
    display: none;
}


/* CARDS */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 8% 4%;
}

#icon {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 5px 0
}

.box {
    text-align: center;
    width: 273px;
    height: 410px;
    background: #FFDEE4;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
    border-radius: 3px;

    box-shadow: 5px 10px #FFA7B8;
}

/* PERSON -----------------CARD */
.title {
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

.sub-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #303030;
    margin-bottom: 20px;
}

#isla-pic {
    width: 220px;
    height: 280px;
}
/* PERSON----------------- CARD */

/* WHERE----------------- CARD */
.where-title {
    margin-top: 15px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

#nouveau-text{
    font-weight: bold;
}

#nouveau-logo{
    display: flex;
    justify-content: center;
    height: auto;
    width: 275px;
    margin-top: 50px;
}
/* WHERE----------------- CARD */

/* REVIEWS----------------- CARD */
.reviews {
    width: 100%;
    height: 323px;
    background: #FFFFFF;
    margin-top: 43px;
    position: relative;
    overflow-y: scroll;
}

.review-section {
    top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.review-section img {
    height: 50px;
    width: 50px;
}

.review-name {
    line-height: 50px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    color: #303030;
    margin-left: 5px;
}

.review-text {
    font-weight: bold;
    font-size: 13px;
    color: #303030;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/* REVIEWS----------------- CARD */

/* CONTACT----------------- CARD */
.contact-title {
    margin-top: 15px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

.contact-bottom-text {
    text-align: center;
    width: 90%;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #303030;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225,152,166);
    border: 1px solid #303030;
    color: #303030;
    font-weight: bold;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.number {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.number img {
    width: 45px;
    height: 45px;
}

.number h5 {
    margin-left: 20px;
    margin-top: 10px;
}

.email {
    margin-top: 20px;
    margin-left: 13px;
    display: flex;
    flex-direction: row;
}

.email img {
    width: 50px;
    height: 45px;
}

.email h5 {
    margin-top: 10px;
    margin-left: 18px;
}
/* CONTACT----------------- CARD */

/* CARDS */

#opening-hours {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #FFA7B8;
}

.hours-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.hours-container h3 {
    font-weight: bold;
    font-size: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    
}

.line-container {
    display: flex;
    flex-direction: column;
}

.line  {
    display: flex;
    align-items: center;
    height: 2px;
    width: 40px;
    background-color: black;
    margin: 12px 50px 18px;
    border-radius: 1px;
}

@media only screen and (max-width: 768px) {
    .quote-text {
        width: 90%;
        font-size: 3vw;
    }

    .quote-text-isla {
        justify-content: flex-end;
        width: 70%;
    }
}

@media only screen and (max-width: 425px) {
    .seperator-bottom {
        display: none;
    }

    #mobile-image {
        display: block;
    }

    #about-image {
        display: none;
    }

    .quote-text {
        font-size: 4vw;
        line-height: 30px;
    }

    .quote-text-isla {
        font-size: 5.5vw;
    }

    #icon {
        display: none;
    }

    .layout {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .box {
        width: 100%;
        box-shadow: none;
        border: none;
    }

    .cards-container {
        margin: 20px 0 50px 0;
        flex-direction: column;
    }
    
}