* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Philosopher', sans-serif;
    background-color: #ffffff;
}

p {
    color: black;
    font-size: 1em;
} 

@font-face {
    font-family: "viva";
    src: url("fonts/Viva.ttf") format("truetype");
}

#current-page {
    background-color: rgb(255, 224, 230);
    color: black;
}

#black-h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-style: normal;
}

#pink-h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 50px;
    color: #FFA7B8;
    font-style: normal;
}

.paddingx {
    padding-left: 50px;
    padding-right: 50px;
}

.berk {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(255, 167, 184);
    letter-spacing: 3px;
    font-weight: normal;
}

.button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 167, 184);
    border: 1px solid rgb(73, 73, 73);
    color: rgb(36, 36, 36);
    width: 45%;
    height: 50px;
    font-size: 1.2vw;
}

.main-container {
    margin: 0 10% 0;
}

#map {
    height: 150px;
    width: 300px;
}

#logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin-left: -160px;
    top: 27px;
}

#logo h1 {
    font-family: "Italiana";
    font-size: 48px;
}

#logo h2 {
    font-family: "Cinzel";
    font-size: 24px;
    line-height: 10px;
    letter-spacing: 2px;
}

#logo p {
    font-family: "Cinzel";
    font-size: 12px;
    margin-top: 5px;
}

.mobile-logo {
    display: none;
}

.mobile-logo img {
    height: 50px;
    width: auto;
}

#logo-sub {
    z-index: 100;
    display: flex;
    width: 200px;
    position: absolute;
    left: 42%;
    top: 70%;
    font-family: "Philosopher";
    font-size: 18px;
    color: rgb(66, 66, 66);
    font-weight: bold;
    text-transform: uppercase;
}
/* navbar */

/* BURGER */
#menuToggle {
    position: absolute;
    margin: 0;
    left: 2%;
    top: 65px;
    padding-left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle span{
    display: block;
    width: 50px;
    height: 4px;
    margin-bottom: 10px;
    position: relative;
    background: rgb(68, 68, 68);
    border-radius: 3px;
    z-index: 1;
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  top: -1px;
  left: 17px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#show-nav {
    width: 350px;
    height: 532px;
    margin: 54px 0 0 -51px;
    list-style-type: none;
    position: absolute;
    border-bottom: 3px solid #474747;
    background: #FFD3D8;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    padding-left: 0;
    z-index: 99;
}

#show-nav a li:hover {
    background-color: rgb(255, 246, 246);
    border-right: solid 3px #474747;
    transition: color 0.6s ease;
    color: black;
}

#show-nav li {
    font-weight: bold;
    padding: 15px 0;
    padding-left: 43px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    display: list-item;
    border-right: solid 3px transparent;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.homeIconPadding {
    padding-right: 14px;
}

.seperator {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

#underline {
    height: auto;
    width: 70%;
    margin: 10px auto 30px;
}

/* BURGER */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 161px;
    align-items: center;
    background: #FFD3D8;
    text-align: center;
    border-bottom: 2px solid #808080;
}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 33px;
    width: 100%;
    background-color: #FFE0E0;
}

#nav-blossom {
    position: absolute;
    left: 40%;
    margin-left: -179px;
    top: 0;
    opacity: .8;
}

#tablet-blossom {
   position: absolute; 
   right: 0;
}

.links a {
    color: #303030;
    font-size: 20px;
    padding: 0 25px;
    letter-spacing: 1px;
    transition-property: color;
    transition-duration: .6s;
}

.links a:hover {
    color: #303030;
    background-color: #FFD3D8;
}

#offer-banner {
    height: 30px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Philosopher";
    font-size: 15px;
    color: #FFA7B8;
}

#contact-us-button {
    position: relative;
    background-image: url("imgs/pink-water.png");
    background-size: 6em;
    background-repeat: no-repeat;
    background-position-x: 4em;
    background-position-y: 1em;
    background-color: rgb(255, 204, 214);
    border: 2px solid #ad7979;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 115px;
    height: 70px;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 10px 3px#ffb1b1;
}

#contact-us-button:hover {
    box-shadow: inset 0 0 5px 7px #FFA7B8;
    background-color: rgb(252, 212, 212);
    color: black;
    background-size: 8em;
    background-position-x: 3em;
    background-position-y: -1em;
    letter-spacing: 2px;
    width: 230px;
    height: 70px;
    font-size: 20px;
}

#contact-header {
    position: absolute;
    left: 3%;
    top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 2%;
    top: 55px;
    border-left: 2px solid white;
    padding-left: 10px;
    border-radius: 1px;
    color: rgb(58, 58, 58);
}


.icons i:hover {
    color: white;
}

.fab {
    color: #474747;
    padding-right: 10px;
    padding-left: 10px;
}

.red {
    color: red;
    margin-top: 0;
}

.pink {
    color: rgb(225,152,166);
}

#pink-flower {
    position: absolute;
    height: 200px;
    width: auto;
    right: 0%;
    top: 30px;
}
/* navbar */

/* Banner */  

.banner {
    display: flex;
    justify-content: center;
}

.banner img{
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}


.home-banner {
    position: relative;
    margin: 30px 100px 0 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(73, 73, 73);
}

.home-banner img {
    width: 100%;
    height: auto;
}


.home-banner-button {
    display: flex;
    position: absolute;
    background-color: rgb(255, 167, 184);
    border: 1px solid rgb(73, 73, 73);
    align-items: center;
    justify-content: center;
    color: rgb(36, 36, 36);
    width: 15%;
    top: 84%;
    left: 12%;
    height: 7%;
    font-size: 1.1vw;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Banner */  

.underline-pic {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.gallery a {
    font-size: 3vw;
    color: rgb(225,152,166);
    margin: 30px 30px 0 60px;
}

/* services section */
.services-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 67px;
    margin-right: 67px;
}

.bordered-box {
    border: 1px solid hsla(0,0%,78%,.9);
    padding-bottom: 25px;
    width: 50%;
    height: 40%;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 50px;
}   

.bordered-box img{
    width: 100%;
    height: 100%;
}

.bordered-box h1 {
    margin-top: 4%;
    letter-spacing: 1px;
    color: black;
    font-size: 2vw;
    font-weight: bold;
}

.bordered-box p {
    font-size: 0.9vw;
    margin-bottom: 5%;
}


/* services section */

.follow-us {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}

 .follow-us p {
     line-height: 40px;
 }

 .nails-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
 }

 .nails-gallery img {
     margin: 10px 17px;
     width: auto;
     height: 300px;
     border: 5px solid rgb(223, 223, 223);

 }

 .lvl-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
 }

 .lvl-gallery img {
    margin: 10px 17px;
    width: auto;
    height: 350px;
    border: 5px solid rgb(224, 224, 224);
 }

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    height: 200px;
    background-color: #FFD3D8;
}

.footer-middle {
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: rgb(255, 208, 217);
}

.footer-middle p {
    color: rgb(73, 73, 73);
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(250, 192, 199);
}

.footer-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.footer-box h4{
    font-weight: bold;
}

.footer a {
    font-size: 16px;
    margin-top: 10px;
    color: #303030;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* Footer */

/* Mobile */
.banner-home-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: none;
}

.banner-home-mobile img {
    width: 100%;
    display: none;
}

.banner-home-mobile h3 {
    font-weight: bold;
    margin-top: 15px;
}

.mobile-button {
    background-color: rgb(255, 167, 184);
    border: 1px solid rgb(73, 73, 73);
    color: rgb(36, 36, 36);
    width: 230px;
    height: 40px;
    font-size: 4vw;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* Mobile */


/* Media Queries */

@media only screen and (max-width: 1650px) {

    .main-container{
        margin: 0;
    }
}

@media only screen and (max-width: 1024px){ /* small laptop */

    #show-nav {
        width: 350px;
        height: 532px;
        margin: 24px 0 0 -51px;
    }

    #nav-blossom {
        display: none; 
    }

    #logo {
        top: 5px;
        margin-left: -126px;
    }
    
    #logo h1 {
        font-family: "Italiana";
        font-size: 38px;
    }
    
    #logo h2 {
        font-family: "Cinzel";
        font-size: 19px;
        line-height: 10px;
        letter-spacing: 2px;
    }
    
    #logo p {
        font-family: "Cinzel";
        font-size: 10px;
        margin-top: 5px;
    }
    

    #contact-header{
        left: 77%;
        top: 20px;
    }

    #contact-us-button {
        width: 170px;
        height: 60px;
        background-position-x: 2em;
    }

    #nav-blossom {
        height: 87px;
    }


    #lvl-png {
        display: none;
    }

    .nav {
        justify-content: center;
        height: 100px;
        border-bottom: 1px solid black;

    }

    #menuToggle {
        display: block;
        position: absolute;
        margin: 0;
        left: 2%;
        top: 34px;
    }

    .icons {
        display: none;
    }

}

@media only screen and (max-width: 888px){  /*TABLET */

    .home-banner {
        position: relative;
        margin: 0;
        border-bottom: 1px solid rgb(73, 73, 73);
        padding-bottom: 0;
    }

    .services-section {
        margin: 40px 10px 0;
    }

    .bordered-box {
        border: 1px solid hsla(0,0%,78%,.9);
        padding-bottom: 10px;
        text-align: center;
        height: 100%;
        margin-bottom: 20px;
    }   

    .footer {
        display: none;
    }

    .follow-us {
        margin-bottom: 20px;
    }
    .follow-us p {
        font-size: 16px;
    }

    .home-banner-isla {
        font-size: 2vw;
        top: 74%;
    }

    .home-banner-button {
        top: 83%;
    }

    .logo h1 {
        font-size: 60px;
    }

    .button {
        height: 30px;
    }
}

@media only screen and (max-width: 888px) {
    #tablet-blossom {
        display: none;
    }
}


@media only screen and (max-width: 425px) { /*MOBILE*/


    #contact-header {
        display: none;
    }

    #pink-flower {
        height: 60px;
    }

    .mobile-logo {
        display: block;
    }

    .logo  {
        display: none;
    }

    .banner-home-mobile {
        display: block;
    }

    .banner-home-mobile img {
        margin-bottom: 10px;
        display: block;
    }

    .home-banner {
        display: none;
    }
    
    .footer {
        display: none;
    }
    
    .nav {
        height: 60px;
    }

    #show-nav {
        margin: 10px 0 0 -29px;
        width: 80vw;;
        height: 532px;
    }
    
    #show-nav li {
        padding-left: 30px;
    }

    .services-section {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .bordered-box {
        border: 1px solid hsla(0,0%,78%,.9);
        text-align: center;
        margin: 0;
        width: 100%;
        border: none;
    }   
    
    .bordered-box img{
        width: 100%;
        height: 100%;
    }
    
    .bordered-box h1 {
        margin-top: 15px;
        letter-spacing: 0;
        color: black;
        font-size: 33px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    .bordered-box p {
        display: none;
    }

    .button {
        background-color: rgb(255, 167, 184);
        border: 1px solid rgb(73, 73, 73);
        color: rgb(36, 36, 36);
        width: 230px;
        height: 40px;
        font-size: 4vw;
        letter-spacing: 2px;
        margin: 0 auto 15px;
    }

    .follow-us {
        display: none;
    }

    #logo h1 {
        color: black;
        font-size: 32px;
        margin-bottom: 0;
    }

    #logo {
        margin-left: -106px;
        top: 2px;
    }

    #logo h2 {
        font-size: 12px;
    }

    #logo p {
        display: none;
    }

    #menuToggle span{
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 8px;
        position: relative;
        background: rgb(68, 68, 68);
        border-radius: 3px;
        z-index: 1;
    }

    #menuToggle {
        display: block;
        position: absolute;
        margin: 0;
        left: 0%;
        top: 20px;
    }

    .footer-middle p {
        font-size:3vw;
    }

    #hide-mobile {
        display: none;
    }
}
   
/* Media Queries */